.about {
  position: relative;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center center / cover;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.about__inner {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 7rem 0 1.25rem 0;
  padding: 2.5rem;
  background: transparent;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.625rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about__title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.about__text {
  margin-top: 2.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

.about__text--span {
  font-weight: 700;
}

.about__link {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  opacity: 0.7;
  text-decoration: none;
  transition: all 0.3s linear;
}

.about__link:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .about__content {
    padding: 2rem;
  }

  .about__title {
    font-size: 2rem;
  }

  .about__text {
    font-size: 1.0625rem;
  }

  .about__link {
    font-size: 1.0625rem;
  }
}

@media (max-width: 768px) {
  .about__content {
    padding: 1.75rem;
  }

  .about__title {
    font-size: 1.75rem;
  }

  .about__text {
    margin-top: 1.875rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .about__link {
    margin-top: 1.875rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .about__content {
    padding: 1.375rem;
    border-radius: 0.5rem;
  }

  .about__title {
    font-size: 1.5rem;
  }

  .about__text {
    font-size: 0.9375rem;
  }

  .about__link {
    font-size: 0.9375rem;
  }
}

@media (max-width: 360px) {
  .about__title {
    font-size: 1.375rem;
  }

  .about__text {
    font-size: 0.7875rem;
  }

  .about__link {
    font-size: 0.875rem;
  }
}
