.baloon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.baloon__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.baloon__image {
  width: 100%;
  min-width: 320px;
  height: 180px;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.baloon__image-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.baloon__description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.baloon__adress {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.baloon__btn {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.baloon__btn:hover {
  color: #fff;
  background: #000;
}

.baloon__info {
  display: none;
  margin-top: 20px;
}

.baloon__info-text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 768px) {
  .baloon {
    margin: 0;
  }

  .baloon__title {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .baloon__title {
    font-size: 22px;
  }

  .baloon__btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .baloon__description,
  .baloon__adress,
  .baloon__info-text {
    font-size: 14px;
  }
}
