.balloon {
  width: 100%;
}

.balloon__header--title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.balloon__image {
  width: 360px;
  height: 240px;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.balloon__image-empty {
  display: none;
}

.balloon__image--pic {
  display: block;
  width: 360px;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

.balloon__body--address {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.balloon__body--description {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.baloon__btn {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.baloon__btn:hover {
  color: #fff;
  background: #000;
}

.baloon__info {
  display: none;
  margin-top: 20px;
}

.baloon__info-text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 768px) {
  .baloon {
    margin: 0;
  }

  .baloon__title {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .baloon__title {
    font-size: 22px;
  }

  .baloon__btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .baloon__description,
  .baloon__adress,
  .baloon__info-text {
    font-size: 14px;
  }
}
