.baloon {
  width: 100%;
  max-width: 33.3vh;
  height: 100%;
  min-height: 70vh;
  margin-left: 40px;
}

.baloon__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.baloon__image {
  margin-top: 15px;
}

.baloon__image-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.baloon__description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.baloon__adress {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.baloon__btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: center;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.baloon__btn:hover {
  color: #fff;
  background: #000;
}

.baloon__info {
  margin-top: 10px;
}

.baloon__info-text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
