.baloon {
  width: 100%;
}

.baloon__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.baloon__image {
  width: 100%;
  height: 240px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.baloon__image-pic {
  width: 100%;
  height: 240px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.baloon__description {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.baloon__adress {
  margin: 10px 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.baloon__btn {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.baloon__btn:hover {
  color: #fff;
  background: #000;
}

.baloon__info {
  display: none;
  margin-top: 20px;
}

.baloon__info-text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 1024px) {
  .baloon__image {
    max-width: 50vw;
  }

  .churches__content-line {
    width: 100%;
    height: 4px;
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .baloon {
    margin: 0;
  }

  .baloon__title {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .baloon__title {
    font-size: 22px;
  }

  .baloon__btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .baloon__description,
  .baloon__adress,
  .baloon__info-text {
    font-size: 14px;
  }
}
