.churches {
  position: relative;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center center / cover;
}

.churches::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.churches__inner {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.churches__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 112px 0 20px 0;
  padding: 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.churches__map {
  width: 100%;
  min-width: 720px;
  height: 480px;
  overflow: hidden;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.browsing-history__form {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding: 40px;
  background: linear-gradient(
    213.56deg,
    rgba(176, 176, 176, 0.88) 3.11%,
    rgba(106, 106, 106, 0.88) 95.43%
  );
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.browsing-history__form-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.browsing-history__form-subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.browsing-history__form-pic {
  margin-top: 20px;
  width: 400px;
  height: 240px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .churches__content {
    padding: 18px;
    border-width: 1px;
  }
}

@media (max-width: 1024px) {
  .churches__content {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .churches__map {
    min-width: 480px;
  }
}

@media (max-width: 480px) {
  .churches__content {
    padding: 12px;
  }

  .churches__map {
    min-width: 320px;
  }
}
