.family {
  position: relative;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center center / cover;
}

.family::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.family__inner {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.family__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 112px 0 20px 0;
  padding: 40px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.family__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.family__subtitle {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.family__text {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}
