.info {
  position: relative;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center center / cover;
}

.info::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.info__inner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1.25rem 0;
  padding: 2.5rem;
  background: transparent;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.625rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

.info__text--indent {
  text-indent: 1.875rem;
}

@media (max-width: 768px) {
  .info__content {
    padding: 1.875rem;
  }
}

@media (max-width: 480px) {
  .info__content {
    padding: 1.25rem;
  }

  .info__text--indent {
    text-indent: 0.9375rem;
  }
}

@media (max-width: 320px) {
  .info__content {
    padding: 0.9375rem;
  }

  .info__text--indent {
    text-indent: 0.625rem;
  }
}
