.info {
  position: relative;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center center / cover;
}

.info::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.info__inner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 40px;
  background: transparent;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

.info__text--indent {
  text-indent: 30px;
}

@media (max-width: 768px) {
  .info__content {
    padding: 30px;
  }
}

@media (max-width: 320px) {
  .info__text {
    font-size: 14px;
  }
}
